appdirs==1.4.4
dweepy==0.3.0
matplotlib==3.6.3
numpy==1.24.2
pandas==1.5.3
Pillow==9.2.0
pyModbusTCP==0.2.0
pyserial==3.5
python-dotenv==0.19.2
requests==2.27.1
ttkthemes==3.2.2
yagmail[all]==0.15.280
